<!DOCTYPE html>
<html>
<head>
<base href="<%=basePath%>">
<title>管理员界面</title>
</head>

<frameset rows="64, * " frameborder="no" border="0 " framespacing="0 ">
	<!--头部-->
	<frame src="admin/admin_top.scala.html" name="top" noresize="noresize"
		frameborder="0" scrolling="no" marginwidth="0" marginheight="0" />
	<!--主体部分-->
	<frameset cols="185,*">
		<!--主体左部分-->
		<frame src="admin/admin_left.scala.html" name="left" noresize="noresize"
			frameborder="0" scrolling="no" marginwidth="0" marginheight="0 " />
		<!--主体右部分-->
		<frame src="admin/admin_main.scala.html" name="main" frameborder="0"
			scrolling="auto" marginwidth="0 " marginheight="0 " />
	</frameset>
</frameset>

</html>